{% extends 'webapp/bootstrap_base.html' %}

{% load staticfiles %}

{% block social-tags %}
    <meta property="fb:app_id" content="1551384735169388">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:url" content="{{ aniversario.full_url }}">
    <meta property="og:title" content="Faça uma doação para o Aniversário Solidário de {{ aniversario.usuario.nome_curto }} e ajude {{ aniversario.missao.beneficiado }}">
    <meta property="og:site_name" content="Aniversário Solidário">
    <meta property="og:description" content="{% if aniversario.apelo %}{{ aniversario.apelo }} - {{ aniversario.usuario.nome }}{% else %}{{ aniversario.missao.descricao }}{% endif %}">
    <meta property="og:image" content="{{ aniversario.get_imagem_divulgacao_fb_url }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@aniverSolidario">
    <meta name="twitter:title" content="Faça uma doação para o Aniversário Solidário de {{ aniversario.usuario.nome_curto }} e ajude {{ aniversario.missao.beneficiado }}">
    <meta name="twitter:description" content="{% if aniversario.apelo %}{{ aniversario.apelo }} - {{ aniversario.usuario.nome }}{% else %}{{ aniversario.missao.descricao }}{% endif %}">
    <meta name="twitter:image" content="{{ aniversario.get_imagem_divulgacao_fb_url }}">
{% endblock %}

{% block nav-links-right-btns %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p><strong>Aniversariante:</strong> {{ aniversario.usuario.nome }}</p>
                        <h3>Missão:</h3>
                        <p>{{ aniversario.missao.titulo }}</p>
                        <p><strong>DESCRIÇÃO:</strong><br>{{ aniversario.missao.descricao }}</p>
                    </div>
                </div>
                <p>&nbsp;</p>
                <h2 class="no-margin-top">Escolha um valor</h2>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button class="btn btn-lg btn-default" type="button" data-btn-valor-docao="25">R$25</button>
                            <button class="btn btn-lg btn-default" type="button" data-btn-valor-docao="50">R$50</button>
                            <button class="btn btn-lg btn-default hidden-sm hidden-xs" type="button" data-btn-valor-docao="100">R$100</button>
                        </div>
                        <div class="input-group-addon">R$</div>
                        <input type="text" class="form-control input-lg outro-valor" placeholder="Outro Valor">
                    </div>
                </div>
                <form method="get">
                    <input class="valor-doacao" type="hidden" name="valor">
                    <p class="text-center"><button type="submit" class="btn btn-lg btn-primary">Doar <i class="fa fa-fw fa-check"></i></button></p>
                </form>
                <p>&nbsp;</p>
                <p class="text-center"><a class="btn btn-info" href="{% url 'aniversario:index' slug_usuario=aniversario.usuario.slug slug_missao=aniversario.missao.slug %}"><i class="fa fa-fw fa-arrow-left"></i> Voltar para a página do Aniversário Solidário</a></p>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-js %}
    <script type="text/javascript" src="{% static 'js/btn-doar.js' %}"></script>
{% endblock %}