{% extends 'webapp/bootstrap_base.html' %}

{% load staticfiles %}

{% block title %}{{ aniversario.usuario.nome_curto }} está realizando um Aniversário Solidário - {{ aniversario.missao.titulo }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="hidden-xs hidden-sm"><img src="{{ aniversario.usuario.foto_lg_url }}" alt="Foto do perfil de {{ aniversario.usuario.nome }}" class="img-responsive" /></div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left hidden-md hidden-lg"><img src="{{ aniversario.usuario.foto_xs_url }}" alt="Foto do perfil de {{ aniversario.usuario.nome }}" class="img-circle" /></div>
                            <div class="media-body"><h4>{{ aniversario.usuario.nome }}<br><small>faz aniversário dia {{ aniversario.usuario_proximo_aniversario|date:'d/m/Y' }}</small></h4></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                {% if aniversario.finalizado %}
                    <div class="alert alert-success" role="alert">Aniversário Solidário finalizado! Fica apenas os agradecimentos a todos que colaborarão com doações e divulgação!</div>
                {% endif %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="no-margin-top"><p><small>A missão de {{ aniversario.usuario.nome_curto }} no ano de {{ aniversario.ano }} é</small></p>{{ aniversario.missao.titulo }}<p><small>beneficiando {{ aniversario.missao.beneficiado }}</small></p></h3>
                        {% if aniversario.apelo %}
                            <div class="media">
                                <div class="media-body">
                                    <p class="large depoimento">{{ aniversario.apelo }} <i class="fa fa-fw fa-quote-right"></i><span class="depoimento-por">{{ aniversario.usuario.nome }}</span></p>
                                </div>
                                <div class="media-right"><i class="fa fa-fw fa-5x fa-commenting-o"></i></div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% if not aniversario.finalizado %}
                    <h4 class="text-center">Compartilhe <span class="hidden-sm hidden-xs">e ajude {{ aniversario.missao.beneficiado }}</span></h4>
                    <p class="text-center">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ aniversario.full_url|urlencode }}" target="_blank" class="btn btn-social btn-facebook"><span class="fa fa-facebook"></span> Compartilhe</a>
                        <a href="https://twitter.com/home?status={{ aniversario.full_url|urlencode }}" target="_blank" class="btn btn-social btn-twitter"><span class="fa fa-twitter"></span> Tweet</a>
                        <a href="https://plus.google.com/share?url={{ aniversario.full_url|urlencode }}" target="_blank" class="btn btn-social btn-google"><span class="fa fa-google-plus"></span> Conte</a>
                    </p>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <p class="input-group">
                                <label for="link-compartilhar" class="input-group-addon" id="sizing-addon2">URL</label>
                                <input type="text" value="{{ aniversario.full_url }}" class="form-control input-lg" id="link-compartilhar">
                                <span class="input-group-btn"><button class="btn btn-lg btn-default" type="button" data-clipboard-target="#link-compartilhar">Copiar</button></span>
                            </p>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="progress"><div class="progress-bar progress-bar-success" style="width: {{ aniversario.meta_atingida_por }}%;"></div></div>
                        <p class="text-center">R${{ aniversario.meta_atingida }} arrecados de R${{ aniversario.missao.meta }}</p>
                        <p><strong>{{ aniversario.usuario.nome_curto }}</strong><br>atingiu {{ aniversario.meta_atingida_por }}% da sua meta</p>
                    </div>
                </div>
            </div>

            <div class="col-md-9">
                {% if aniversario.missao.medias.all.0 %}
                    <div class="thumbnail">
                        <img src="{{ aniversario.missao.medias.all.0.arquivo_folder_url }}" alt="{{ aniversario.missao.medias.all.0.descricao|default:'Mídia 1' }}" class="img-responsive">
                        {% if aniversario.missao.medias.all.0.descricao %}
                            <div class="caption">{{ aniversario.missao.medias.all.0.descricao }}</div>
                        {% endif %}
                    </div>
                {% endif %}

                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Sobre a missão</h4></div>
                    <div class="panel-body">{{ aniversario.missao.descricao }}</div>
                </div>

                {% with medias_restantes=aniversario.missao.medias.exceto_primeiro %}
                    {% if medias_restantes %}
                        <h2>Fotos</h2>
                        <div class="row">
                            {% for media in medias_restantes %}
                                <div class="col-md-3 col-xs-6">
                                    <div class="thumbnail">
                                        <img src="{{ media.arquivo.url }}" alt="{{ media.descricao|default:'Mídia 1' }}" class="img-responsive">
                                        <div class="caption">{{ media.descricao }}</div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

    {% if not aniversario.finalizado %}
        <div class="footer-floating">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="hidden-lg hidden-md"><p><a href="{% url 'aniversario:doar' slug_usuario=aniversario.usuario.slug slug_missao=aniversario.missao.slug %}" class="btn btn-block btn-lg btn-primary">Fazer uma doação</a></p></div>
                        <div class="well well-sm hidden-sm hidden-xs">
                            <h3 class="no-margin-top text-center">Faça uma doação</h3>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-sm btn-default" type="button" data-btn-valor-docao="25">R$25</button>
                                        <button class="btn btn-sm btn-default hidden-md" type="button" data-btn-valor-docao="50">R$50</button>
                                    </div>
                                    <div class="input-group-addon">R$</div>
                                    <input type="text" class="form-control input-sm outro-valor" placeholder="Outro Valor">
                                </div>
                            </div>
                            <form action="{% url 'aniversario:doar' slug_usuario=aniversario.usuario.slug slug_missao=aniversario.missao.slug %}" method="get">
                                <input class="valor-doacao" type="hidden" name="valor">
                                <p class="text-center"><button type="submit" class="btn btn-lg btn-primary">Doar <i class="fa fa-fw fa-check"></i></button></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra-js %}
    <script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/btn-doar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/link-compartilhar.js' %}"></script>
{% endblock %}