{% extends 'usuarios/usuarios-base.html' %}


{% block in-content %}

    {% for aniversario in aniversarios %}
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Aniversario de {{ aniversario.ano }} <small> <a href="{% url 'aniversario:index' slug_usuario=aniversario.usuario.slug slug_missao=aniversario.missao.slug %}">{{ aniversario.missao.titulo }}</a></small></h4>
                <P>Valor arrecadado nesse aniversario solidario foi de R${{ aniversario.meta_atingida }}, sua meta era de R${{ aniversario.missao.meta }}</P>
                {% with transacao=aniversario.aniversario_transacao.all.0 %}
                    {% if transacao %}
                        <P>Status de transação: <span class=" label {% if transacao.status_verbose == 'Realizado' %} label-success {% else %} label-danger {% endif %}">{{ transacao.status_verbose }}</span></P>
                    {% else %}
                        <P>Status de transação: <span class="label label-default">Nenhuma transacao para esse aniversario</span></P>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    {% endfor %}


{% endblock %}