{% extends 'webapp/bootstrap_base.html' %}

{% load staticfiles humanize %}

{% block title %}{{ aniversario.usuario.nome_curto }} está realizando um Aniversário Solidário - {{ aniversario.missao.titulo }}{% endblock %}
{% block description %}{% if aniversario.apelo %}{{ aniversario.apelo }} - {{ aniversario.usuario.nome }}{% else %}{{ aniversario.missao.descricao }}{% endif %}{% endblock %}

{% block social-tags %}
    <meta property="fb:app_id" content="1551384735169388">
    <meta property="og:locale" content="pt_BR">
    <meta property="og:url" content="{{ aniversario.full_url }}">
    <meta property="og:title" content="{{ aniversario.usuario.nome_curto }} trocou seus presentes de aniversário para ajudar {{ aniversario.missao.beneficiado }}">
    <meta property="og:site_name" content="Aniversário Solidário">
    <meta property="og:description" content="{% if aniversario.apelo %}{{ aniversario.apelo }} - {{ aniversario.usuario.nome }}{% else %}{{ aniversario.missao.descricao }}{% endif %}">
    <meta property="og:image" content="{{ aniversario.get_imagem_divulgacao_fb_url }}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="850">
    <meta property="og:image:height" content="315">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@aniverSolidario">
    <meta name="twitter:title" content="{{ aniversario.usuario.nome_curto }} trocou seus presentes de aniversário para ajudar {{ aniversario.missao.beneficiado }}">
    <meta name="twitter:description" content="{% if aniversario.apelo %}{{ aniversario.apelo }} - {{ aniversario.usuario.nome }}{% else %}{{ aniversario.missao.descricao }}{% endif %}">
    <meta name="twitter:image" content="{{ aniversario.get_imagem_divulgacao_fb_url }}">
{% endblock %}

{% block content %}
    <div class="aniversario-header">
        {% with aniversario_media_0=aniversario.missao.medias.all.0 %}
            {% if aniversario_media_0 %}
                <img src="{{ aniversario_media_0.arquivo_folder_url }}" alt="{{ aniversario_media_0.descricao|default:'Capa' }}" class="aniversario-header-background-img">
            {% endif %}
        {% endwith %}
        {% if aniversario.finalizado %}
            <div class="alert alert-success" role="alert">Aniversário Solidário finalizado! Fica apenas os agradecimentos a todos que colaborarão com doações e divulgação!</div>
        {% endif %}
        <div class="aniversario-header-up">
            <div class="container">
                <div class="row row-down">
                    <div class="col-md-8">
                        <h3>&nbsp;</h3>
                        <h4 class="font-white">A missão de {{ aniversario.usuario.nome_curto }} no ano de {{ aniversario.ano }} é</h4>
                        <h3 class="font-white no-margin-top">{{ aniversario.missao.titulo }}</h3>
                        <p>&nbsp;</p>
                    </div>
                    {% if not aniversario.finalizado %}
                        <div class="col-md-4 hidden-sm hidden-xs">
                            <h4 class="text-center font-white">Eu quero ajudar com...</h4>
                            <p class="text-center">
                                <a class="btn btn-lg btn-info" href="{% url 'aniversario:doar' slug_usuario=aniversario.usuario.slug slug_missao=aniversario.missao.slug %}?valor=25">R$25</a>
                                <a class="btn btn-lg btn-info" href="{% url 'aniversario:doar' slug_usuario=aniversario.usuario.slug slug_missao=aniversario.missao.slug %}?valor=50">R$50</a>
                                <a class="btn btn-lg btn-info" href="{% url 'aniversario:doar' slug_usuario=aniversario.usuario.slug slug_missao=aniversario.missao.slug %}?valor=75">R$75</a>
                            </p>
                            <p class="text-center"><a class="btn btn-default" href="{% url 'aniversario:doar' slug_usuario=aniversario.usuario.slug slug_missao=aniversario.missao.slug %}">Outro Valor</a></p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3" id="barra-estatisticas">
                <div class="panel panel-default">
                    <div class="hidden-xs hidden-sm"><img src="{{ aniversario.usuario.foto_lg_url }}" alt="Foto do perfil de {{ aniversario.usuario.nome }}" class="img-responsive" /></div>
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-left hidden-md hidden-lg"><img src="{{ aniversario.usuario.foto_xs_url }}" alt="Foto do perfil de {{ aniversario.usuario.nome }}" class="img-circle" /></div>
                            <div class="media-body"><h4>{{ aniversario.usuario.nome }}<br><small>faz aniversário dia {{ aniversario.usuario_proximo_aniversario|date:'d/m/Y' }}</small></h4></div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="progress"><div class="progress-bar progress-bar-success" style="width: {{ aniversario.meta_atingida_por }}%;"></div></div>
                        <p class="text-center">R${{ aniversario.meta_atingida }} arrecados de R${{ aniversario.missao.meta }}</p>
                        <p><strong>{{ aniversario.usuario.nome_curto }}</strong><br>atingiu {{ aniversario.meta_atingida_por }}% da sua meta</p>
                    </div>
                </div>
                {% with pagas=aniversario.doacoes.pagas %}
                    {% if pagas %}
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 class="text-center">Quem já ajudou</h4>
                            </div>
                            <ul class="list-group">
                                {% for doacao in pagas %}
                                    {% if pagas.count > 2 and forloop.counter == 3 %}<div id="doacoes-collapse" class="collapse">{% endif %}
                                        <li class="list-group-item">
                                            <div class="media">
                                                <div class="media-left"><img src="{{ doacao.usuario_foto_url }}" alt="Doador {{ doacao.usuario_nome }}" class="img-circle"></div>
                                                <div class="media-right"><strong>{{ doacao.usuario_nome }}</strong><br><small>{{ doacao.data|naturaltime }}</small></div>
                                            </div>
                                        </li>
                                    {% if pagas.count > 2 and forloop.last %}</div><li class="list-group-item text-right"><a href="#doacoes-collapse" data-toggle="collapse">+ Ver todas</a></li>{% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
            <div class="col-md-9">
                {% if aniversario.apelo %}
                    <div class="row">
                        <div class="col-xs-3 hidden-md hidden-lg">
                            <img src="{{ aniversario.usuario.foto_md_url }}" alt="" class="img-responsive img-circle">
                        </div>
                        <div class="col-xs-9">
                            <div class="panel panel-default panel-comment">
                                <div class="panel-body">
                                    <p class="large">{{ aniversario.apelo }}</p>
                                    <p class="text-right">{{ aniversario.usuario.nome_curto }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h4 class="text-center">Compartilhe <span class="hidden-sm hidden-xs">e ajude {{ aniversario.missao.beneficiado }}</span></h4>
                        <p class="text-center hidden-xs hidden-sm">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ aniversario.full_url|urlencode }}" target="_blank" class="btn btn-social btn-facebook"><span class="fa fa-facebook"></span> Compartilhe</a>
                            <a href="https://twitter.com/home?status={{ aniversario.full_url|urlencode }}" target="_blank" class="btn btn-social btn-twitter"><span class="fa fa-twitter"></span> Tweet</a>
                            <a href="https://plus.google.com/share?url={{ aniversario.full_url|urlencode }}" target="_blank" class="btn btn-social btn-google"><span class="fa fa-google-plus"></span> Conte</a>
                        </p>
                        <p class="text-center hidden-md hidden-lg">
                            <a href="https://www.facebook.com/sharer/sharer.php?u={{ aniversario.full_url|urlencode }}" target="_blank" class="btn btn-lg btn-social btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a>
                            <a href="https://twitter.com/home?status={{ aniversario.full_url|urlencode }}" target="_blank" class="btn btn-lg btn-social btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a>
                            <a href="https://plus.google.com/share?url={{ aniversario.full_url|urlencode }}" target="_blank" class="btn btn-lg btn-social btn-social-icon btn-google"><span class="fa fa-google-plus"></span></a>
                        </p>
                        <p class="input-group">
                            <label for="link-compartilhar" class="input-group-addon" id="sizing-addon2">URL</label>
                            <input type="text" value="{{ aniversario.full_url }}" class="form-control input-lg" id="link-compartilhar">
                            <span class="input-group-btn"><button class="btn btn-lg btn-default" type="button" data-clipboard-target="#link-compartilhar">Copiar</button></span>
                        </p>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><h4>Sobre a missão</h4></div>
                    <div class="panel-body">{{ aniversario.missao.descricao }}</div>
                </div>
                {% with medias=aniversario.missao.medias.all %}
                    {% if medias %}
                        <h2>Fotos</h2>
                        <div class="row">
                            {% for media in medias %}
                                <div class="col-md-4 col-xs-6">
                                    <div class="thumbnail">
                                        <img src="{{ media.arquivo_lg_url }}" alt="{{ media.descricao|default:'Mídia' }}" class="img-responsive clickable" data-toggle="modal" data-target="#abrirImagemModel" data-image="{{ media.arquivo.url }}">
                                        {% if media.descricao %}<div class="caption">{{ media.descricao }}</div>{% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>
    {% if not aniversario.finalizado %}
        <div class="footer-floating hidden-sm hidden-xs" data-start-after="#barra-estatisticas">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 class="no-margin-top text-center">Faça uma doação</h4>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-default" type="button" data-btn-valor-docao="25">R$25</button>
                                            <button class="btn btn-sm btn-default hidden-md" type="button" data-btn-valor-docao="50">R$50</button>
                                        </div>
                                        <div class="input-group-addon">R$</div>
                                        <input type="text" class="form-control input-sm outro-valor" placeholder="Outro Valor">
                                    </div>
                                </div>
                                <form action="{% url 'aniversario:doar' slug_usuario=aniversario.usuario.slug slug_missao=aniversario.missao.slug %}" method="get">
                                    <input class="valor-doacao" type="hidden" name="valor">
                                    <p class="text-center"><button type="submit" class="btn btn-lg btn-primary">Doar <i class="fa fa-fw fa-check"></i></button></p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-floating hidden-lg hidden-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div><p><a href="{% url 'aniversario:doar' slug_usuario=aniversario.usuario.slug slug_missao=aniversario.missao.slug %}" class="btn btn-block btn-lg btn-primary">Fazer uma doação</a></p></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="abrirImagemModel" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <img class="img-responsive img-modal" data-dismiss="modal" src="">
            </div>
        </div>
    </div>
{% endblock %}

{% block extra-js %}
    <script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/btn-doar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/link-compartilhar.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $('#abrirImagemModel').on('show.bs.modal', function (e) {
                var image = $(e.relatedTarget).attr('data-image');
                $(".img-modal").attr('src', image);
            });
        });
    </script>
{% endblock %}