{% extends 'webapp/bootstrap_base.html' %}

{% load staticfiles nucleo_widgets %}

{% block content %}
    <div class="container">
        <p><a href="{% url 'aniversario:index' slug_usuario=aniversario.usuario.slug slug_missao=aniversario.missao.slug %}" class="btn btn-info"><i class="fa fa-fw fa-arrow-left"></i> Voltar para página do Aniversário Solidário</a></p>
        <h1 class="text-center"><i class="fa fa-fw fa-5x fa-smile-o"></i></h1>
        <h2 class="text-center">Obrigado pela sua doação!</h2>
        <hr>
        <h4 class="text-center">Continue essa corrente <span class="hidden-sm hidden-xs">e ajude {{ aniversario.missao.beneficiado }}</span></h4>
        <p class="text-center">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ aniversario.full_url|urlencode }}" target="_blank" class="btn btn-social btn-facebook"><span class="fa fa-facebook"></span> Compartilhe</a>
            <a href="https://twitter.com/home?status={{ aniversario.full_url|urlencode }}" target="_blank" class="btn btn-social btn-twitter"><span class="fa fa-twitter"></span> Tweet</a>
            <a href="https://plus.google.com/share?url={{ aniversario.full_url|urlencode }}" target="_blank" class="btn btn-social btn-google"><span class="fa fa-google-plus"></span> Conte</a>
        </p>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p class="input-group">
                    <label for="link-compartilhar" class="input-group-addon" id="sizing-addon2">URL</label>
                    <input type="text" value="{{ aniversario.full_url }}" class="form-control input-lg" id="link-compartilhar">
                    <span class="input-group-btn"><button class="btn btn-lg btn-default" type="button" data-clipboard-target="#link-compartilhar">Copiar</button></span>
                </p>
            </div>
        </div>

        {% if aniversarios %}
            <hr>
            <h4>Outros Aniversários Solidários que você pode colaborar</h4>
            <div class="row">
                {% for aniversario in aniversarios %}
                    <div class="col-md-4">{% aniversario_panel aniversario %}</div>
                {% endfor %}
            </div>
        {% endif %}

    </div>
{% endblock %}