{% extends 'usuarios/usuarios-base.html' %}

{% load bootstrap3 %}

{% block in-content %}

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Conte um pouco da sua experiência</h3>
            <p>O seu Aniversário Solidário de {{ aniversario.ano }} chegou ao fim e queremos saber como foi ajudar {{ aniversario.missao.beneficiado }}.</p>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Enviar feedback</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}