{% extends 'webapp/bootstrap_base.html' %}

{% load bootstrap3 %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>Fotos</h2>
                {% with medias=missao.medias.all  %}
                    {% if medias %}
                        {% for media in missao.medias.all %}
                            <div class="panel panel-default">
                                <div class="panel-heading text-right"><a href="{% url 'nucleo:missao:medias_action' slug=missao.slug media_id=media.id action='up' %}"><i class="fa fa-fw fa-chevron-up"></i></a> <a href="{% url 'nucleo:missao:medias_action' slug=missao.slug media_id=media.id action='down' %}"><i class="fa fa-fw fa-chevron-down"></i></a></div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4"><img src="{{ media.arquivo.url }}" class="img-responsive"></div>
                                        <div class="col-md-8">
                                            <form method="post">
                                                {% csrf_token %}
                                                {% bootstrap_form media.get_editar_form %}
                                                <input type="hidden" name="act" value="editar_{{ media.id }}">
                                                {% buttons %}
                                                    <div class="text-right">
                                                        <a href="{% url 'nucleo:missao:medias_action' slug=missao.slug media_id=media.id action='delete' %}"  class="btn btn-danger" onclick="return confirm('Tem certeza que deseja deletar essa mídia?');">Deletar <i class="fa fa-trash-o fa-lg"></i></a>
                                                        <button type="submit" class="btn btn-primary">Editar <i class="fa fa-fw fa-pencil"></i></button>
                                                    </div>
                                                {% endbuttons %}
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Você ainda não carregou nenhuma foto.</p>
                        <p>Aumente suas chances de receber doações adicionando uma foto.</p>
                    {% endif %}
                {% endwith %}
            </div>

            <div class="col-md-5">
                <h2>Adicionar Foto</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="hidden" name="act" value="add_novo">
                    <button type="submit" class="btn btn-lg btn-primary"> Enviar <i class="fa fa-fw fa-upload"></i></button>
                </form>
            </div>
        </div>

    </div>

{% endblock %}