{% extends 'webapp/bootstrap_base.html' %}

{% block iniciar-aniversario %}{% endblock %}

{% load bootstrap3 humanize %}

{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Inicie seu Aniversário Solidário</h2>
                    <p>Seu próximo aniversário é dia {{ user.proximo_aniversario|date:'d/m/Y' }}, você tem {{ user.dias_restantes_proximo_aniversario }} dias para mobilizar seus amigos e arrecadar a meta da sua missão.</p>
                    <h3>Sobre a missão</h3>
                    <p>Preencha os dados da missão do seu Aniversário Solidário. Mas não se preocupe, você pode alterá-los ao longo da campanha.</p>
                    {% bootstrap_form missao_form %}
                    {% buttons %}
                        <div class="text-right"><button type="submit" class="btn btn-lg btn-primary">Iniciar Aniversário Solidário <i class="fa fa-fw fa-check"></i></button></div>
                    {% endbuttons %}
                </div>
            </div>
        </form>
    </div>
{% endblock %}