<div class="panel panel-default">
    <a class="hidden-xs hidden-sm" href="{% url 'aniversario:index' slug_usuario=aniversario.usuario.slug slug_missao=aniversario.missao.slug %}"><img src="{{ aniversario.missao.foto_divulgacao_quadrada_url }}" class="img-responsive" alt="Foto principal da missão {{ aniversario.missao.titulo }}" /></a>
    <div class="progress"><div class="progress-bar progress-bar-success" style="width: {{ aniversario.meta_atingida_por }}%;"></div></div>
    <div class="panel-body">
        <div class="media">
            <div class="media-left"><h4><img src="{{ aniversario.usuario.foto_xs_url }}" class="img-rounded" alt="Foto de {{ aniversario.usuario.nome }}" /></h4></div>
            <div class="media-body">
                <div class="aniversario-titulo">
                    <div class="aniversario-titulo-container">
                        <div><small>A missao de {{ aniversario.usuario.nome_curto }} é </small></div>
                        <div><a href="{% url 'aniversario:index' slug_usuario=aniversario.usuario.slug slug_missao=aniversario.missao.slug %}">{{ aniversario.missao.titulo }}</a></div>
                    </div>
                </div>
                <p>R${{ aniversario.meta_atingida }} arrecados de R${{ aniversario.missao.meta }}</p>
            </div>
        </div>
    </div>
</div>