{% extends 'webapp/bootstrap_base.html' %}

{% block extra-messages %}{% endblock %}

{% load staticfiles nucleo_widgets %}

{% block content %}
    <div class="container">
        <div><img src="{% static 'imgs/comofunciona.png' %}" class="img-responsive" alt="Como Funciona" /></div>
        <h3>Aniversários acontecendo agora</h3>
        <div class="row">
            {% for aniversario in aniversarios %}
                <div class="col-md-4">{% aniversario_panel aniversario %}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}