{% extends 'webapp/bootstrap_base.html' %}

{% block title %}Termos de uso{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h1>TERMOS DE USO</h1>


                <p>Termos que você concorda quando usa o site Aniversário Solidário</p>

                <p>Este é um Acordo Legal entre você (Usuário Cadastrado no site Aniversário Solidário) e a empresa proprietária e administradora do site Aniversário Solidário. Mesmo que seja realizado por meio eletrônico, este contrato possui validade jurídica, de acordo com a legislação civil brasileira. Se você não estiver de acordo com os termos e condições descritas neste termo,
                    por favor, NÃO PROSSIGA COM O SEU CADASTRO E NÃO SE REGISTRE PARA A UTILIZAÇÃO DOS SERVIÇOS OFERECIDOS PELO Aniversário Solidário.</p>

                <h4>1. DOS SERVIÇOS OFERECIDOS</h4>
                <p>1.1 O Aniversário Solidário intermedia a doação de dinheiro entre o doador e o aniversariante através de meios de pagamento <a href="https://pagseguro.uol.com.br/" target="_blank">PagSeguro</a>.</p>

                <h4>2. CONDUTA ONLINE DO ANIVERSARIANTE AO SISTEMA</h4>
                <p>Como aniversariante você concorda que:</p>
                <p>2.1 O aniversariante é o único responsável pela entrega do valor ou presente a causa social.</p>
                <p>2.2 O aniversariante não pode anunciar ou divulgar nenhum tipo de produto e/ou serviço através do site Aniversário Solidário.</p>

                <h4>3. PAGAMENTOS</h4>
                <p>3.1Existe apenas um canal de pagamento que é pelo site www.aniversariosolidario.com pela plataforma <a href="https://pagseguro.uol.com.br/" target="_blank">PagSeguro</a>.</p>
                <p>3.2 As doações de qualquer valor poderão ser feitas por boleto, cartão de crédito ou por outras formas de pagamentos oferecidas pelas plataformas de pagamento.</p>
                <p>3.3 Qualquer outra página que for direcionado o pagamento não nos responsabilizamos pelo encaminhamento dos valores.</p>
                <p>3.4 No caso de ter sido convidado a utilizar um método alternativo de pagamento, pedimos por favor, que informe imediatamente a central de atendimento.</p>

                <h4>4. RETIRADA DOS PAGAMENTOS</h4>
                <p>4.1 A retirada será realizada após o 7º dia útil da data do aniversário.</p>
                <p>4.2 Será feita a transferência via <a href="https://pagseguro.uol.com.br/" target="_blank">PagSeguro</a> para o(a) aniversariante conforme o valor doado em cada banco online.</p>

                <h4>5. TAXAS</h4>
                <p>5.1 Será retido pelo administrador do site 17% sobre o valor recebido de cada doação, para cobrir as taxas de transações bancárias e manutenção da plataforma.</p>

                <h4>6. GARANTIAS DO SERVIÇO</h4>
                <p>6.1 É de responsabilidade do aniversariante a escolha da causa social, bem como a veracidade da mesma.</p>
                <p>6.2 Por este motivo, o site Aniversário Solidário só pode garantir o bom funcionamento do site e pagamento para a realização do serviço, mas sem nenhum tipo de responsabilidade quanto ao destino dos valores doados.</p>

                <h4>7. O SITE ANIVERSÁRIO SOLIDÁRIO NÃO GARANTE QUE:</h4>
                <p>7.1 Determinadas metas sejam alcançadas;</p>
                <p>7.2 O serviço será prestado de forma ininterrupta, tempestiva, segura ou livre de erros;</p>
                <p>7.3 O resultado obtido pelo uso do serviço será positivo, exato ou confiável;</p>
                <p>7.4 O aniversariante ira cumprir e proceder com o combinado, e doar o dinheiro para a causa social.</p>

                <h4>8. DOS DIREITOS DO SITE ANIVERSÁRIO SOLIDÁRIO</h4>
                <p>8.1 O Site Aniversário Solidário pode, por qualquer motivo, bloquear o acesso ao site de qualquer aniversariante. Isto será válido para garantir segurança e seriedade da prestação do serviço e da marca Aniversário Solidário.</p>
                <p>8.2 Ao Site Aniversário Solidário reserva-se ainda o direito de suspender imediatamente o acesso ao sistema e a prestação dos serviços, se for identificado e concluído que o aniversariante não esteja cumprindo os termos deste acordo. Denúncias de qualquer natureza permitirão ao site investigar e apurar os fatos.</p>

                <h4>9. DIREITOS DE PROPRIEDADE E PROTEÇÃO INDUSTRIAL E INTELECTUAL</h4>
                <p>9.1 O usuário concorda que o Site Aniversário Solidário, bem como suas logomarcas, são protegidas pelas leis vigentes e o aniversariante ao se cadastrar, não pode copiar conteúdos, fotos, imagens internas do sistema, logomarcas de propriedade do Site Aniversário Solidário.</p>

                <h4>10. INFORMAÇÃO FORNECIDA POR QUALQUER USUÁRIO</h4>
                <p>10.1 O Site Aniversário Solidário se compromete, no que estiver ao seu alcance, a manter confidenciais todas as informações que estiverem gravadas como tal.</p>

                <h4>11. VIOLAÇÕES</h4>
                <p>11.1 Favor reportar qualquer violação dos Termos de Utilização do Serviço ao site Aniversário Solidário, através dos links de denúncias espalhados pelo site ou através da página de Atendimento ao Usuário.</p>

                <h4>12. DO ACEITE DO ANIVERSARIANTE</h4>
                <p>12.1 No momento do cadastro no sistema, o Site Aniversário Solidário registra o endereço IP, que identifica o computador do usuário, e solicita o Aceite do ANIVERSARIANTE a esses Termos.</p>
                <p>12.2 Caso o usuário não esteja de acordo com esses Termos, seu cadastramento no sistema não será concluído.</p>
                <p>12.3 Ao concluir o seu registro no sistema, o aniversariante afirma que leu, e que está de total acordo com todos os Termos de Utilização, Políticas de Assinaturas e Cancelamentos dos serviços oferecidos pelo Site Aniversário Solidário.</p>

                <h4>13. PRIVACIDADE</h4>
                <p>13.1 Sua privacidade é muito importante para nós. Elaboramos os termos de uso para informar como você pode utilizar o Site Aniversário Solidário e como podemos utilizar suas informações.</p>

                <h4>14. DAS ALTERAÇÕES NO DOCUMENTO</h4>
                <p>14.1 O Site Aniversário Solidário reserva-se ao direito de alterar este documento a qualquer momento, mediante aviso disponível no site a todos os associados do sistema.</p>
                <p>14.2 O link para leitura integral deste Termo está disponível em todas as páginas do Site Aniversário Solidário.</p>
            </div>
        </div>
    </div>
{% endblock %}