{% extends 'webapp/bootstrap_base.html' %}

{% load bootstrap3 %}

{% block content %}
    <div class="container">
        <h3 class="text-center">Efetue o pagamento da sua doação</h3>
        {% if pagseguro %}
            <form method="post">
                {% csrf_token %}
                <div class="pagseguro-carregando">
                    <p class="text-center"><i class="fa fa-fw fa-3x fa-circle-o-notch fa-spin"></i></p>
                </div>
                <hr>
                <div class="formas-de-pagamento">
                    <h4 class="text-center">Selecione a forma de pagamento...</h4>
                    <div class="row">
                        <label class="col-xs-6 clickable payment_method_target" for="payment_method_boleto">
                            <div class="well">
                                <h4 class="text-center" data-panel-height-fixed="1">Boleto</h4>
                                <p class="text-center"><i class="fa fa-fw fa-5x fa-barcode"></i></p>
                            </div>
                            <span class="hidden"><input type="radio" name="payment_method" value="boleto" id="payment_method_boleto"></span>
                        </label>
                        <label class="col-xs-6 clickable payment_method_target" for="payment_method_creditcard">
                            <div class="well">
                                <h4 class="text-center" data-panel-height-fixed="1">Cartão de crédito</h4>
                                <p class="text-center"><i class="fa fa-fw fa-5x fa-credit-card"></i></p>
                            </div>
                            <span class="hidden"><input type="radio" name="payment_method" value="creditcard" id="payment_method_creditcard"></span>
                        </label>
                    </div>
                </div>
                <div class="forma-de-pagamento-cartao-1">
                    <div class="form-group cardBin-group">
                        <label for="cardBin">Número do cartão de crédito</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-fw fa-credit-card"></i> <span class="cartao-bandeira-label"></span></span>
                            <input type="text" name="cardBin" id="cardBin" autocomplete="off" class="form-control" maxlength="16">
                        </div>
                        <span class="help-block">- Apenas números</span>
                    </div>
                </div>
                <div class="forma-de-pagamento-cartao-2">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="cvv">CVV</label>
                                <input type="text" name="cvv" id="cvv" autocomplete="off" class="form-control" maxlength="4">
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="cvv">Data de expiração</label>
                                <div class="input-group">
                                    <input type="text" name="expirationM" id="expirationM" autocomplete="off" class="form-control" maxlength="2" placeholder="Mês">
                                    <span class="input-group-addon">/</span>
                                    <input type="text" name="expirationY" id="expirationY" autocomplete="off" class="form-control" maxlength="4" placeholder="Ano">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center"><button type="submit" class="btn btn-lg btn-primary btn-confirmar" disabled>Confirmar</button></p>
            </form>
        {% else %}
            <h4><small>Antes de continuar</small><br>Confirme seus dados...</h4>
            <form method="post">
            {% csrf_token %}
            {% bootstrap_form usuario_form %}
            {% buttons %}
                <p class="text-center"><button class="btn btn-primary" type="submit">Confirmar Dados <i class="fa fa-fw fa-check"></i></button></p>
            {% endbuttons %}
        {% endif %}
        </form>
    </div>
{% endblock %}

{% block extra-js %}
    {% if pagseguro %}
        <script type="text/javascript" src="https://stc.sandbox.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.directpayment.js"></script>
        <script type="text/javascript">
            $(document).ready(function (){
                var
                        $pagseguro_carregando = $('.pagseguro-carregando'),
                        $formas_de_pagamento = $('.formas-de-pagamento'),
                        $btn_confirmar = $('.btn-confirmar'),
                        $payment_method_targets = $('.payment_method_target'),
                        $forma_de_pagamento_cartao_1 = $('.forma-de-pagamento-cartao-1'),
                        $cardBin = $('#cardBin'),
                        numbers_ascii = [48, 49, 50, 51, 52, 53, 54, 55, 56, 57],
                        $cardBin_group = $('.cardBin-group'),
                        $cartao_bandeira_label = $('.cartao-bandeira-label'),
                        $forma_de_pagamento_cartao_2 = $('.forma-de-pagamento-cartao-2'),
                        $cvv = $('#cvv'),
                        $expirationM = $('#expirationM'),
                        $expirationY = $('#expirationY');

                function payment_method_colored(e) {
                    var $target = $(e.currentTarget);

                    $payment_method_targets.removeClass('text-info');
                    $target.addClass('text-info');
                }

                function just_numbers(e) {
                    var key = (e.code || e.keyCode || e.which);
                    if(numbers_ascii.indexOf(key) == -1){
                        return false;
                    }
                }

                function close_forma_de_pagamento_cartao() {
                    $forma_de_pagamento_cartao_1.hide();
                    $cardBin.val('');
                    close_forma_de_pagamento_cartao_2();
                }

                function close_forma_de_pagamento_cartao_2() {
                    $forma_de_pagamento_cartao_2.hide();
                }

                function valid_cardBin() {
                    $cardBin_group.removeClass('has-error');
                    if($cardBin.val().length == 16){
                        $cardBin.attr('disabled','disabled');
                        $pagseguro_carregando.show();
                        PagSeguroDirectPayment.getBrand({
                            cardBin: $cardBin.val(),
                            success: function (response) {
                                $cartao_bandeira_label.html(response['brand']['name'].toUpperCase());
                                $forma_de_pagamento_cartao_2.fadeIn(500);
                            },
                            error: function (response) {
                                $cardBin_group.addClass('has-error');
                            },
                            complete: function (){
                                $cardBin.removeAttr('disabled');
                                $pagseguro_carregando.hide();
                            }
                        });
                    } else {
                        close_forma_de_pagamento_cartao_2();
                    }
                }

                function valid_cvv_and_expiration() {
                    if(
                            ($cvv.val().length == 3 || $cvv.val().length == 4) &&
                            $expirationM.val().length == 2 &&
                            $expirationY.val().length == 4
                    ){
                        $cardBin.attr('disabled','disabled');
                        $cvv.attr('disabled','disabled');
                        $expirationM.attr('disabled','disabled');
                        $expirationY.attr('disabled','disabled');
                        $pagseguro_carregando.show();
                        PagSeguroDirectPayment.createCardToken({
                            cardNumber: $cardBin.val(),
                            cvv: $cvv.val(),
                            expirationMonth: $expirationM.val(),
                            expirationYear: $expirationY.val(),
                            success: function (response){
                                console.log(response);
                            },
                            error: function (){

                            },
                            complete: function (){
                                $cardBin.removeAttr('disabled');
                                $cvv.removeAttr('disabled');
                                $expirationM.removeAttr('disabled');
                                $expirationY.removeAttr('disabled');
                                $pagseguro_carregando.hide();
                            }
                        });
                    } else {

                    }
                }

                $formas_de_pagamento.hide();
                $pagseguro_carregando.hide();
                close_forma_de_pagamento_cartao();

                $('[for="payment_method_boleto"]').click(function (e){
                    payment_method_colored(e);
                    $btn_confirmar.removeAttr('disabled');
                    close_forma_de_pagamento_cartao();
                });
                $('[for="payment_method_creditcard"]').click(function (e){
                    payment_method_colored(e);
                    $btn_confirmar.attr('disabled','disabled');
                    $forma_de_pagamento_cartao_1.fadeIn(500);
                });

                $cardBin
                        .keypress(just_numbers)
                        .keyup(valid_cardBin);

                $cvv
                        .keypress(just_numbers)
                        .keyup(valid_cvv_and_expiration);

                $expirationM.keyup(valid_cvv_and_expiration);

                $expirationY.keyup(valid_cvv_and_expiration);

                PagSeguroDirectPayment.setSessionId('{{ pagseguro.session_id }}');
                $formas_de_pagamento.fadeIn(500);



                {#                console.log(PagSeguroDirectPayment.getSenderHash());#}
            });
        </script>
    {% endif %}
{% endblock %}