{% extends 'usuarios/usuarios-base.html' %}

{% load bootstrap3 %}

{% block in-content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>Agora que o dia do seu aniversário chegou e você finalizou seu Aniversário Solidário, está na hora de pegar suas doações e concluir sua missão!</p>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <p class="text-right"><button type="submit" class="btn btn-primary">Confirmar <i class="fa fa-fw fa-check"></i></button></p>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}