{% extends 'usuarios/usuarios-base.html' %}

{% load bootstrap3 %}

{% block in-content %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h3>Qual o seu e-mail do PagSeguro?</h3>
            <p>O valor arrecadado em seu Aniversário Solidário será transferido para você via PagSeguro. Caso você não tenha uma conta no PagSeguro <a href="https://pagseguro.uol.com.br/registration/registration.jhtml" target="_blank">clique aqui</a>.</p>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}

                {% buttons %}
                    <button type="submit" class="btn btn-primary">Salvar</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}