{% extends 'usuarios/usuarios-base.html' %}

{% block in-content %}
    {% with aguardando_pagamento=user.doacoes_feitas.aguardando_pagamento em_analise=user.doacoes_feitas.em_analise pagas=user.doacoes_feitas.pagas canceladas=user.doacoes_feitas.canceladas %}
        {% if not aguardando_pagamento and not em_analise and not pagas and not canceladas %}
            <h4>Você não fez nenhuma doação por enquanto!</h4>
        {% endif %}
        {% if aguardando_pagamento %}
            <h2>Conclua suas doações</h2>
            <div class="row">
                {% for doacao in aguardando_pagamento %}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 data-panel-height-fixed="1"><small>Aniversário Solidário:</small><br><a href="{% url 'aniversario:index' slug_usuario=doacao.aniversario.usuario.slug slug_missao=doacao.aniversario.missao.slug %}">{{ doacao.aniversario.missao.titulo }}</a></h4>
                                <p><strong>Valor:</strong> R${{ doacao.pagamento.valor }}</p>
                                <p><span class="label label-default">{{ doacao.pagamento.status_verbose }}</span></p>
                                {% if doacao.pagamento.boleto_link %}
                                    <p><a class="btn btn-block btn-primary" href="{{ doacao.pagamento.boleto_link }}" target="_blank">Imprimir Boleto <i class="fa fa-fw fa-barcode"></i></a></p>
                                {% else %}
                                    <p><a class="btn btn-block btn-primary" href="{{ doacao.checkout_url }}" target="_blank">Concluir doação</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if em_analise %}
            <h2>Em análise</h2>
            <div class="row">
                {% for doacao in em_analise %}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 data-panel-height-fixed="2"><small>Aniversário Solidário:</small><br><a href="{% url 'aniversario:index' slug_usuario=doacao.aniversario.usuario.slug slug_missao=doacao.aniversario.missao.slug %}">{{ doacao.aniversario.missao.titulo }}</a></h4>
                                <p><strong>Valor:</strong> R${{ doacao.pagamento.valor }}</p>
                                <p><span class="label label-primary">{{ doacao.pagamento.status_verbose }}</span></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if pagas %}
            <h3>Concluídas</h3>
            <div class="row">
                {% for doacao in pagas %}
                   <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 data-panel-height-fixed="3"><small>Aniversário Solidário:</small><br><a href="{% url 'aniversario:index' slug_usuario=doacao.aniversario.usuario.slug slug_missao=doacao.aniversario.missao.slug %}">{{ doacao.aniversario.missao.titulo }}</a></h4>
                                <p><strong>Valor:</strong> R${{ doacao.pagamento.valor }}</p>
                                <p><span class="label label-success">{{ doacao.pagamento.status_verbose }}</span></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if canceladas %}
            <h3>Canceladas</h3>
            <div class="row">
                {% for doacao in canceladas %}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 data-panel-height-fixed="4"><small>Aniversário Solidário:</small><br><a href="{% url 'aniversario:index' slug_usuario=doacao.aniversario.usuario.slug slug_missao=doacao.aniversario.missao.slug %}">{{ doacao.aniversario.missao.titulo }}</a></h4>
                                <p><strong>Valor:</strong> R${{ doacao.pagamento.valor }}</p>
                                <p><span class="label label-danger">{{ doacao.pagamento.status_verbose }}</span></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}