{% extends 'usuarios/usuarios-base.html' %}

{% block in-content %}
    {% with aguardando_pagamento=user.doacoes_feitas.aguardando_pagamento em_andamento=user.doacoes_feitas.em_andamento  %}
        {% if not aguardando_pagamento and not em_andamento %}
            <p class="text-center">Você não fez nenhuma doação por enquanto!</p>
        {% endif %}
        {% if aguardando_pagamento %}
            <h2>Conclua suas doações</h2>
            <div class="row">
                {% for doacao in aguardando_pagamento %}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4><small>Aniversário Solidário:</small><br><a href="{% url 'aniversario:index' slug_usuario=doacao.usuario.slug slug_missao=doacao.aniversario.missao.slug %}">{{ doacao.aniversario.missao.titulo }}</a></h4>
                                <p><strong>Valor:</strong> R${{ doacao.pagamento.valor }}</p>
                                <p><span class="label label-default">{{ doacao.pagamento.status_verbose }}</span></p>
                                {% if doacao.pagamento.boleto_link %}
                                    <p><a class="btn btn-block btn-primary" href="{{ doacao.pagamento.boleto_link }}" target="_blank">Imprimir Boleto <i class="fa fa-fw fa-barcode"></i></a></p>
                                {% else %}
                                    <p><a class="btn btn-block btn-primary" href="{{ doacao.checkout_url }}" target="_blank">Concluir doação</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if em_andamento %}
            <h2>Doações em andamento</h2>
            <div class="row">
                {% for doacao in user.doacoes_feitas.em_andamento %}
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <P>Aniversário solidário: <a href="{% url 'aniversario:index' slug_usuario=doacao.usuario.slug slug_missao=doacao.aniversario.missao.slug %}">{{ doacao.aniversario.missao.titulo }}</a></P>
                                <P>Valor doado: {{ doacao.pagamento.valor }}</P>
                                <span class="label label-primary">{{ doacao.pagamento.status }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock %}
