{% extends 'webapp/bootstrap_base.html' %}

{% load staticfiles %}

{% block content %}
    {% if user.aniversario_solidario %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default" data-panel-height-fixed="1">
                                <div class="panel-body">
                                    <h2 class="text-center no-margin-top"><small>Você tem...</small><br>{{ user.aniversario_solidario.dias_restantes }} <small>dias</small></h2>
                                    <p class="text-center">Para finalizar sua missão!</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default" data-panel-height-fixed="1">
                                <div class="panel-body">
                                    <div class="progress"><div class="progress-bar progress-bar-success" style="width: 40%;"></div></div>
                                    <p class="text-center">Você atingiu 40% da sua meta<br><small>R$400/R${{ user.aniversario_solidario.missao.meta }}</small></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <label for="basic-url">Compartilhe</label>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <label for="link-compartilhar" class="input-group-addon" id="sizing-addon2">URL</label>
                                            <input type="text" value="{{ user.aniversario_solidario.full_url }}" class="form-control input-lg" id="link-compartilhar">
                                            <span class="input-group-btn"><button class="btn btn-lg btn-default" type="button" data-clipboard-target="#link-compartilhar">Copiar</button></span>
                                        </div>
                                    </div>
                                    <p class="text-center">
                                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ user.aniversario_solidario.full_url|urlencode }}" target="_blank" class="btn btn-lg btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a>
                                        <a href="https://twitter.com/home?status={{ user.aniversario_solidario.full_url|urlencode }}" target="_blank" class="btn btn-lg btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a>
                                        <a href="https://plus.google.com/share?url={{ user.aniversario_solidario.full_url|urlencode }}" target="_blank" class="btn btn-lg btn-social-icon btn-google"><span class="fa fa-google-plus"></span></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-body">
                            {% if user.aniversario_solidario.apelo %}
                                {{ user.aniversario_solidario.apelo }}
                                <a href="{% url 'usuarios:aniversario_apelo' %}" class="btn btn-sm btn-success pull-right">Editar apelo</a>
                            {% else %}
                                Voce ainda não fez um apelo!
                                <a href="{% url 'usuarios:aniversario_apelo' %}" class="btn btn-sm btn-success pull-right">Apelo</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-pills">
                                <li><a href="{% url 'nucleo:missao:editar_missao' slug=user.aniversario_solidario.missao.slug %}"><i class="fa fa-fw fa-pencil"></i>Editar</a></li>
                                <li><a href="{% url 'nucleo:missao:medias' slug=user.aniversario_solidario.missao.slug %}"><i class="fa fa-fw fa-cog"></i>Gerenciar mídias</a></li>
                            </ul>
                            <h2>{{ user.aniversario_solidario.missao.titulo }}</h2>
                            <p>{{ user.aniversario_solidario.missao.descricao }}</p>
                        </div>
                    </div>
                    <h2>Doações</h2>
                    <div class="row">
                        {% if not user.aniversario_solidario.doacoes.all %}
                            <P> Seu aniversario não recebeu nenhuma doação</P>
                        {% else %}
                            {% for doacao in user.aniversario_solidario.doacoes.all %}
                                <div class="col-md-3">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            {{ doacao.usuario.nome }} doou R$ {{ doacao.pagamento.valor }} para seu aniversario!
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <img src="{{ user.foto_lg_url }}" class="img-responsive">
                        <div class="list-group">
                            <a class="list-group-item" href="{% url 'usuarios:alterar_foto' %}">Alterar foto do meu perfil</a>
                            <a class="list-group-item" href="{% url 'usuarios:alterar_perfil' %}">Editar meu perfil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block extra-js %}
    <script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/link-compartilhar.js' %}"></script>
{% endblock %}