{% extends 'webapp/bootstrap_base.html' %}

{% block content %}
    {% if user.aniversario_solidario %}
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    30 Dias
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    20%
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <label for="basic-url">Compartilhe</label>
                                    <div class="input-group">
                                        <span class="input-group-addon" id="basic-addon3">Url</span>
                                        <input type="text" class="form-control" id="basic-url" value="www.com.br">
                                    </div>
                                    <div class="panel-footer">
                                        <div class="btn-group btn-group-lg" role="group">
                                            <button type="button" class="btn btn-info"><i class="fa fa-fw fa-facebook"></i></button>
                                        </div>
                                        <div class="btn-group btn-group-lg" role="group">
                                            <button type="button" class="btn btn-info"><i class="fa fa-fw fa-twitter-square"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if user.aniversario_solidario.apelo %}

                        {{ user.aniversario_solidario.apelo }}

                    {% else %}

                        <div class="page-header">
                            <p>Voce ainda não fez um apelo</p>
                            <button class="btn btn-success">Apelo</button>
                        </div>

                    {% endif %}

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-pills">
                                <li><a href="{% url 'nucleo:missao:editar_missao' slug=user.aniversario_solidario.missao.slug %}"><i class="fa fa-fw fa-pencil"></i>Editar</a></li>
                                <li><a href="{% url 'nucleo:missao:medias' slug=user.aniversario_solidario.missao.slug %}"><i class="fa fa-fw fa-cog"></i>Gerenciar mídias</a></li>
                            </ul>
                            <h2>{{ user.aniversario_solidario.missao.titulo }}</h2>
                            <p>{{ user.aniversario_solidario.missao.descricao }}</p>
                        </div>
                    </div>

                    <h2>Doações</h2>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    teste
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    teste1
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <img src="{{ user.foto_lg_url }}" class="img-responsive">
                        <div class="list-group">
                            <a class="list-group-item" href="{% url 'usuarios:alterar_foto' %}">Alterar foto do meu perfil</a>
                            <a class="list-group-item" href="{% url 'usuarios:alterar_perfil' %}">Editar meu perfil</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}