{% extends 'usuarios/usuarios-base.html' %}

{% load staticfiles %}

{% block in-content %}
    {% if user.aniversario_solidario %}
        {% if user.aniversario_solidario.dias_restantes == 0 and not user.aniversario_solidario.finalizado%}
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h3>Parabéns! Chegou a hora de comemorar seu aniversário.</h3>
                            <p>O tempo de mobilização já acabou, temos que focar nos resultados.</p>
                            <p>Você arrecadou <strong>R${{ user.aniversario_solidario.meta_atingida }}</strong> e tem direito a <strong>R${{ user.aniversario_solidario.meta_de_direito|floatformat:2 }}</strong> no qual está disponível para transferência <strong>R${{ user.aniversario_solidario.meta_de_direito_disponivel|floatformat:2 }}</strong>. Finalize seu Aniversário Solidário clicando no botão abaixo para receber os valores.</p>
                            <a href="{% url 'nucleo:aniversario_finalizar' %}" class="btn btn-lg btn-info">Finalizar Aniversário Solidário</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-md-3">
                <div class="panel panel-default" data-panel-height-fixed="1">
                    <div class="panel-body">
                        <h2 class="text-center no-margin-top"><small>Você tem...</small><br>{{ user.aniversario_solidario.dias_restantes }} <small>dias</small></h2>
                        <p class="text-center">Para atingir sua meta!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default" data-panel-height-fixed="1">
                    <div class="panel-body">
                        <div class="progress"><div class="progress-bar progress-bar-success" style="width: {{ user.aniversario_solidario.meta_atingida_por }}%;"></div></div>
                        <p class="text-center"><strong>{{ user.aniversario_solidario.meta_atingida_por }}%</strong> da sua meta atingida<br><small>R${{ user.aniversario_solidario.meta_atingida }}/R${{ user.aniversario_solidario.missao.meta }}</small></p>
                    </div>
                </div>
            </div>
            {% if not user.aniversario_solidario.finalizado %}
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <label for="basic-url">Compartilhe</label>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="input-group">
                                    <label for="link-compartilhar" class="input-group-addon" id="sizing-addon2">URL</label>
                                    <input type="text" value="{{ user.aniversario_solidario.full_url }}" class="form-control input-lg" id="link-compartilhar">
                                    <span class="input-group-btn"><button class="btn btn-lg btn-default" type="button" data-clipboard-target="#link-compartilhar">Copiar</button></span>
                                </div>
                            </div>
                            <p class="text-center">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ user.aniversario_solidario.full_url|urlencode }}" target="_blank" class="btn btn-lg btn-social-icon btn-facebook"><span class="fa fa-facebook"></span></a>
                                <a href="https://twitter.com/home?status={{ user.aniversario_solidario.full_url|urlencode }}" target="_blank" class="btn btn-lg btn-social-icon btn-twitter"><span class="fa fa-twitter"></span></a>
                                <a href="https://plus.google.com/share?url={{ user.aniversario_solidario.full_url|urlencode }}" target="_blank" class="btn btn-lg btn-social-icon btn-google"><span class="fa fa-google-plus"></span></a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        {% with restam_para_aniversario_completo=user.aniversario_solidario.restam_para_aniversario_completo %}
            {% if restam_para_aniversario_completo %}
                <h2>Melhore o impacto do seu Aniversário Solidário</h2>
                <div class="row">
                    {% for f in restam_para_aniversario_completo %}
                        <div class="col-md-{{ f.col }}">
                            <div class="panel panel-default" data-panel-height-fixed="2">
                                <div class="panel-body">
                                    {% if f.field == 'apelo' %}
                                        <h4 class="text-center">Você ainda não escreveu seu apelo!</h4>
                                        <p>Deixe uma mensagem para os visitantes do seu Aniverário Solidário.</p>
                                        <div class="text-center">
                                            <a href="{% url 'usuarios:aniversario_apelo' %}" class="btn btn-sm btn-success">Escrever Apelo</a>
                                        </div>
                                    {% elif f.field == 'medias' %}
                                        <h4 class="text-center">Adicione fotos a sua missão!</h4>
                                        <p>Fotos chamam bastante atenção! Deixe a página do seu Aniversário Solidário mais atraente.</p>
                                        <div class="text-center">
                                            <a href="{% url 'nucleo:missao:medias' slug=user.aniversario_solidario.missao.slug %}" class="btn btn-sm btn-success">Gerenciar Fotos</a>
                                        </div>
                                    {% elif f.field == 'usuario-foto' %}
                                        <h4 class="text-center">Quem é você? Atualize a foto do perfil!</h4>
                                        <p>Você ainda não tem uma foto no seu perfil. É importante que as pessoas mais próximas te identifiquem.</p>
                                        <div class="text-center">
                                            <a href="{% url 'usuarios:alterar_foto' %}" class="btn btn-sm btn-success">Adicionar foto no perfil</a>
                                        </div>
                                    {% else %}
                                        {{ f }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        {% if user.aniversario_solidario.apelo %}
            <h2>Apelo</h2>
            <div class="panel panel-default">
                <div class="panel-body">
                    {% if not user.aniversario_solidario.finalizado %}
                        <ul class="nav nav-pills p">
                            <li><a href="{% url 'usuarios:aniversario_apelo' %}"><i class="fa fa-fw fa-pencil"></i>Editar apelo</a></li>
                        </ul>
                    {% endif %}
                    <p>{{ user.aniversario_solidario.apelo }}</p>
                </div>
            </div>
        {% endif %}
        <h2>Missão</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                {% if not user.aniversario_solidario.finalizado %}
                    <ul class="nav nav-pills">
                        <li><a href="{% url 'nucleo:missao:editar_missao' slug=user.aniversario_solidario.missao.slug %}"><i class="fa fa-fw fa-pencil"></i> Editar Missão</a></li>
                        <li><a href="{% url 'nucleo:missao:medias' slug=user.aniversario_solidario.missao.slug %}"><i class="fa fa-fw fa-camera"></i> Gerenciar Fotos</a></li>
                    </ul>
                {% endif %}
                <h2>{{ user.aniversario_solidario.missao.titulo }}</h2>
                <p><strong>DESCRIÇÃO:</strong><br>{{ user.aniversario_solidario.missao.descricao }}</p>
            </div>
        </div>
        <h2>Doações</h2>
        {% if not user.aniversario_solidario.doacoes.all %}
            <p>Seu Aniversário Solidário ainda não recebeu nenhuma doação!</p>
        {% else %}
            <div class="row">
                {% for doacao in user.aniversario_solidario.doacoes.all %}
                    <div class="col-md-4">
                        <div class="panel panel-default" data-panel-height-fixed="3">
                            <div class="panel-body">
                                <p class="text-right"><small><i class="fa fa-fw fa-calendar"></i> {{ doacao.data }}</small></p>
                                <p><strong>{{ doacao.usuario.nome }}</strong> doou</p>
                                <h4>R${{ doacao.pagamento.valor }}<br><small>para seu aniversario!</small></h4>
                                <p><span class="label {% if doacao.pagamento.status_valido %}label-success{% else %}label-default{% endif %}">{{ doacao.pagamento.status_verbose }}</span></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% else %}
        <div class="well well-lg">
            <h2 class="text-center">Faça a sua parte também!</h2>
            <h3 class="text-center">Inicie um Aniversário Solidário</h3>
            {% if user.proximo_aniversario %}
                <hr>
                <h4 class="text-center">Seu próximo aniversário é dia {{ user.proximo_aniversario }}, você tem {{ user.dias_restantes_proximo_aniversario }} dias para mobilizar seus amigos, trocar seus presentes por doações e ajudar quem precisa.</h4>
            {% endif %}
            <hr>
            <p class="text-center"><a class="btn btn-lg btn-primary" href="{% url 'nucleo:iniciar_aniversario' %}">Iniciar um Aniversário Solidário</a></p>
        </div>
    {% endif %}
{% endblock %}

{% block extra-js %}
    <script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/link-compartilhar.js' %}"></script>
{% endblock %}