{% extends 'webapp/bootstrap_base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-9">{% block in-content %}{% endblock %}</div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <img src="{{ user.foto_lg_url }}" class="img-responsive">
                    <div class="list-group">
                        {% if not user.is_authenticated or not user.aniversario_solidario %}
                            <a class="list-group-item" href="{% url 'nucleo:iniciar_aniversario' %}">Iniciar um Aniversário Solidário</a>
                        {% else %}
                            {% if user.is_authenticated and user.aniversario_solidario %}
                                <a class="list-group-item" href="{% url 'usuarios:index' %}">Gerenciar meu Anivesário</a>
                            {% endif %}
                        {% endif %}
                        {% if user.aniversarios_passados %}
                            <a class="list-group-item" href="{% url 'usuarios:aniversarios_passados' %}">Gerenciar Aniversários passados</a>
                        {% endif %}
                        <a class="list-group-item" href="{% url 'usuarios:alterar_foto' %}">Alterar foto do meu perfil</a>
                        <a class="list-group-item" href="{% url 'usuarios:alterar_perfil' %}">Editar meu perfil</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}