{% extends 'emails/html_template.html' %}

{% block title %}Parabéns!!{% endblock %}
{% block subtitle-content %}Você iniciou o seu Aniversário Solidário de {{ ano }}.{% endblock %}

{% block content %}
    <p>Abrir mão do seu presente de aniversário para ajudar o próximo é uma causa nobre.</p>
    <p><strong>Mas vamos lá,<br>mão na massa:</strong></p>
    <p>Seu próximo objetivo é mobilizar seus amigos através das redes sociais.</p>
    <p style="text-align: center;">Este é o link do seu Aniversário Solidário:<br><small style="font-family: monospace">{{ aniversario_full_url }}</small></p>
    <p>&nbsp;</p>
    <p>Não deixe de utilizar as ferramentas da nossa <a href="http://www.aniversariosolidario.com">plataforma</a> e conferir as dicas do nosso <a href="http://blog.aniversariosolidario.com">blog</a>.</p>
{% endblock %}